.circlehome1{
    background-image: url(./components/circle-home1.png);
    width: 180px;
    height: 180px;
    position: absolute;
    margin-left: -0.25%;
    margin-top: 12.5%;
}
.circlehome2{
    background-image: url(./components/circle-home2.png);
    width: 180px;
    height: 180px;
    position: absolute;
    margin-left: -0.25%;
    margin-top: 12.5%;
}
.circlehome3{
    background-image: url(./components/circle-home3.png);
    width: 180px;
    height: 180px;
    position: absolute;
    margin-left: -0.25%;
    margin-top: 12.5%;
}
.red-switch{
    width: 150px;
    height: 150px;
    background-image: url(./components/red-switch.png);
    align-content: center;
    justify-content: center;
    padding: 0%;
    margin-left: -0.25%;
    margin-top: 13.5%;
    position: absolute;
    border: 0px;
    background-color: #ade76600;
    border-radius: 75px;
}
.green-switch{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(./components/green-switch.png);
    align-content: center;
    justify-content: center;
    padding: 0%;
    margin-left: -0.25%;
    margin-top: 13.5%;
    position: absolute;
    border: 0px;
    background-color: #ade76600;
    border-radius: 75px;
}

.red-switch:hover{
    background-image: url(./components/red-switch-hover.png);
}
.green-switch:hover{
    background-image: url(./components/green-switch-hover.png);
}

.rh-img {
    background-image: url(./assets/rh_img.png);
    position: absolute;
    width: 114px;
    height: 68px;
    margin-left: -22%;
    margin-top: 11.5%;
}

.pm-img {
    background-image: url(./assets/pm_img.png);
    position: absolute;
    width: 122px;
    height: 107px;
    margin-left: 30%;
    margin-top: 22%;
}

.night {
    background-image: url(./assets/night.png);
    position: absolute;
    width: 148px;
    height: 113px;
    background-size: contain;
    margin-left: 25%;
    margin-top: 0%;
}
.sun1 {
    background-image: url(./assets/sun1.png);
    position: absolute;
    width: 124px;
    height: 113px;
    background-size: contain;
    margin-left: 25%;
    margin-top: 0%;
}
.sun2 {
    background-image: url(./assets/sun2.png);
    position: absolute;
    width: 164px;
    height: 113px;
    background-size: contain;
    margin-left: 25%;
    margin-top: 0%;
}
.sun3 {
    background-image: url(./assets/sun3.png);
    position: absolute;
    width: 150px;
    height: 134px;
    background-size: contain;
    margin-left: 28%;
    margin-top: 0%;
}

.feel-happy {
    background-image: url(./assets/happy.png);
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: contain;
    margin-left: -32%;
    margin-top: 22%;
}

.feel-hot {
    background-image: url(./assets/hot.png);
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: contain;
    margin-left: -32%;
    margin-top: 22%;
}

.feel-cold {
    background-image: url(./assets/cold.png);
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: contain;
    margin-left: -32%;
    margin-top: 22%;
}

@media screen and (max-width: 1250px){
    .red-switch{
        width: 120px;
        height: 120px;
        margin-top: 145px;
        background-image: url(./assets/redswitch_120.png);
    }
    .green-switch{
        width: 120px;
        height: 120px;
        margin-top: 145px;
        background-image: url(./assets/greenswitch_120.png);
    }
    .red-switch:hover{
        background-image: url(./assets/redswitchhover_120.png);
    }
    .green-switch:hover{
        background-image: url(./assets/greenswitchhover_120.png);
    }
    .circlehome1{
        width: 150px;
        height: 150px;
        margin-top: 145px;
        background-image: url(./components/circle-home1-150.png);
    }
    .circlehome2{
        width: 150px;
        height: 150px;
        margin-top: 23%;
        background-image: url(./components/circle-home2-150.png);
    }
    .circlehome3{
        width: 150px;
        height: 150px;
        margin-top: 130px;
        background-image: url(./components/circle-home3-150.png);
    }
    .rh-img{
        width: 67px;
        height: 40px;
        background-image: url(./assets/rh_img1250.png);
        margin-right: 250px;
        margin-top: 140px;
        margin-left: 0px;
    }
    .pm-img{
        width: 67px;
        height: 40px;
        background-image: url(assets/pm_img1250.png);
        margin-top: 300px;
        margin-right: 0%;
        margin-left: 350px;
    }
    .feel-happy{
        width: 80px;
        height: 80px;
        background-image: url(./assets/happy-80.png);
        margin-left: 0%;
        margin-right: 300px;
        margin-top: 320px;
    }
    .feel-cold{
        width: 80px;
        height: 80px;
        background-image: url(./assets/cold-80.png);
        margin-left: 0%;
        margin-right: 300px;
        margin-top: 320px;
    }
    .feel-hot{
        width: 80px;
        height: 80px;
        background-image: url(./assets/happy-80.png);
        margin-left: 0%;
        margin-right: 300px;
        margin-top: 320px;
    }
    .night,.sun1,.sun2,.sun3{
        margin-left: 300px;
    }
}