.circlehome1{
    background-image: url(./components/circle-home1.png);
    width: 180px;
    height: 180px;
    position: absolute;
    margin-left: -0.25%;
    margin-top: 12.5%;
}
.circlehome2{
    background-image: url(./components/circle-home2.png);
    width: 180px;
    height: 180px;
    position: absolute;
    margin-left: -0.25%;
    margin-top: 12.5%;
}
.circlehome3{
    background-image: url(./components/circle-home3.png);
    width: 180px;
    height: 180px;
    position: absolute;
    margin-left: -0.25%;
    margin-top: 12.5%;
}
.red-switch{
    width: 150px;
    height: 150px;
    background-image: url(./components/red-switch.png);
    align-content: center;
    justify-content: center;
    padding: 0%;
    margin-left: -0.25%;
    margin-top: 13.5%;
    position: absolute;
    border: 0px;
    background-color: #ade76600;
    border-radius: 75px;
}
.green-switch{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(./components/green-switch.png);
    align-content: center;
    justify-content: center;
    padding: 0%;
    margin-left: -0.25%;
    margin-top: 13.5%;
    position: absolute;
    border: 0px;
    background-color: #ade76600;
    border-radius: 75px;
}

.red-switch:hover{
    background-image: url(./components/red-switch-hover.png);
}
.green-switch:hover{
    background-image: url(./components/green-switch-hover.png);
}